// Imports of libs & files
@import "./baseInfo";

// !made bootstrap changes here
@import "./bootstrap-customized";

// body style
body {
  font-family: "Jost", -apple-system, BlinkMacSystemFont, "Segoe UI", "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  color: $white;
  font-size: $font_size_base;
  scroll-behavior: smooth;
  -webkit-font-smoothing: antialiased;
  font-synthesis: none;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
  &.modal-open {
    padding: 0 !important;
  }
}

* {
  transition: all 0.25s cubic-bezier(0.445, 0.05, 0.55, 0.95);
  word-wrap: break-word;
  word-break: normal;
  text-overflow: ellipsis;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
address {
  margin-bottom: 0;
}

// img style
img {
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: center;
  object-position: center;
}

picture {
  position: relative;
  display: block;
  // width: 100%;
  height: auto;
  overflow: hidden;
}

a {
  color: inherit;
  text-decoration: none;
  &:hover {
    text-decoration: none;
  }
}

button {
  appearance: none;
  // background: transparent;
  padding: 0;
  margin: 0;
  border: 0;
}

// components styles
@import "./components/navbar";
@import "./components/banner";
@import "./components/footer";
